<?xml version="1.0" encoding="utf-8"?>
<!-- initial version 1 on 15Jan14 -->
<!-- new version 2 on 24Jan14 with changes to settings dialog -->
<!-- new version 3 on 28Jan14 with bugfix for landscape mode -->
<!-- new version 4 on 03Feb14 with minor bugfixes -->
<!-- new version 5 on 18Feb14 with bugfix for NPE crash if no Wi-Fi connection -->
<!-- new version 6 on 22Apr14 with improved settings dialog, scanning added and first-pass fingerprinting with API and iBeacon reports -->
<!-- new version 7 on 01May14 with fingerprinting and map display features -->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arubanetworks.aledemonstrator"
    android:versionCode="7"
    android:versionName="7" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.compass" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="false" />
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.arubanetworks.aledemonstrator.MainActivity"
            android:label="@string/app_name" 
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>